body {
    background-color: #fff;
}

.featured {
    background-color: #e8f4e8;
    padding: 1rem;
    border-radius: 8px;
}

.container {
    width: 940px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 1em;
    grid-row: auto;
}

.spotlight-row {
    display: flex;
    gap: 20px;
}

.spotlight-row.flip {
    flex-direction: row-reverse;
}

.spotlight-row .spotlight {
    flex: 0 0 60%;
}

.spotlight-row .story-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}