body {
    background-color: #ffffff;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

h2 {
    font-size: 35px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h3.title2 {
    font-family: "Inria Serif", sans-serif;
    font-style: italic;
}

h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

p {
    font-family: "Inria Serif", sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-style: italic;
}

p.category {
    font-family: "Inria Serif", monospace;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p.author {
    font-family: "Inria Serif", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.story .time {
    color: #808080;
    font-family: "Inria serif", sans-serif;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

li {
    width: 100%;
}

a {
    display: flex;
    flex-flow: column wrap;
}