body {
    background-color: #FFFFFF;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

img {
    width: 100%
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1;
}

h1 {
    font-family: "Inria Serif", sans-serif;
    font-size: 40px;

}

h2 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 195px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    font-family: "Inria Serif", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

h5 {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

h6 {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    color: #505050;
    font-family: "Inria Serif", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

p.category {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p.author {
    color: #404040;
    font-family: "Inria Serif", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.time {
    color: #808080;
    font-family: "Inria serif", sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
}

.red {
    color: #C94242;
}

/* flash-messages */
.flash-message {
    background-color: #F5F5F5;
    height: 100px;
}

.flash-message.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.flash-message.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* header */
.header {
    background-color: #C94242;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px -2px 1px,
        rgba(0, 0, 0, 0.05) 0px -4px 2px,
        rgba(0, 0, 0, 0.05) 0px -8px 4px,
        rgba(0, 0, 0, 0.05) 0px -16px 8px,
        rgba(0, 0, 0, 0.05) 0px -32px 16px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.header h1 {
    font-size: 60px;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 20px;
    padding-top: 6px;
}

/* admin display */
#overlay {
    background-color: rgba(55, 55, 55, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.adminButton {
    width: 20px;
    height: 55px;
    position: fixed;
    right: 0;
    top: 256px;
    cursor: pointer;
}

.adminPopup {
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
    flex-flow: column wrap;
    text-align: center;
}

.adminPopup .exit {
    position: absolute;
    display: flex;
    justify-self: flex-end;
    transform: translateY(-37px);
    cursor: pointer;
}

.adminPopup .cards {
    margin-top: 50px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminPopup .card {
    background-color: #FFFFFF;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    width: 160px;
    height: 223px;
    padding: 20px 5px;
    transition: all ease-out 0.05s;
    text-align: center;
    cursor: pointer;
}

.adminPopup img {
    width: 80px;
    margin: auto;
}

.adminPopup .card:hover {
    box-shadow: 0 2px 4px 0 rgba(193, 114, 114, 0.75);
    transform: translateY(-5%);
}

/* admin mode*/
#adminMode {
    display: flex;
    gap: 20px;
}

.button {
    border: 1px solid #808080;
    border-radius: 6px;
    padding: 5px 15px;
    transition: all ease-in-out 0.3s;
}

.edit {
    background-color: #808080;
    color: #FFFFFF;
}


.edit p {
    color: inherit;
}

.delete {
    border-color: #C94242;
    background-color: #C94242;
    color: #FFFFFF;
}

.delete p {
    color: inherit;
}

a:hover .delete {
    background-color: #FFFFFF;
    color: #C94242;
}

a:hover .edit {
    background-color: #FFFFFF;
    color: #808080;
}

/* navbar */
.navbar {
    gap: 20px;
    display: flex;
}

/* gap */
.gap {
    height: 200px;
}

/* hidden and flex style */
.hidden {
    display: none;
}

.flex {
    display: flex;
}

/* title Styles */

.greyLine {
    background-color: #F5F5F5;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.title {
    background-color: #F5F5F5;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

/* width-10 mainStory */

.mainStory {
    height: fit-content;
}

.mainStory a {
    gap: 20px;
    display: flex;
}

.mainStory .content {
    flex: 1;
}

.mainStory .pic {
    flex: 1.52;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mainStory .textHolder {
    height: 100%;
}

.mainStory .text {
    border-top: 1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 6px;
}

h6.author {
    display: flex;
    justify-content: flex-end;
}

/* redLine Style */

.redLine {
    background-color: #C94242;
    height: 17px;
    width: 100px;
    margin-bottom: 10px;
}

/* trendingComp */

.trending .story {
    border-top: 1px solid #F5F5F5;
    padding: 10px 0px;
}

.trending .category {
    color: #808080;
    gap: 4px;
    margin-bottom: 5px;
    display: flex;
}

/* width-4 newsComp */

.newsComp img {
    height: 200px;
    margin-bottom: 10px;
}

.newsComp .textHolder {
    margin-top: 5px;
}

.newsComp .text {
    border-top: 1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 6px;
}

/* personalFinance */

.personalFinance .trending .story {
    gap: 10px;
    min-height: 93px;
    display: flex;
}

.personalFinance .pic {
    flex: 1;
}

.personalFinance .textHolder {
    flex: 4;
}

/* footer */
.footer {
    background-color: #C94242;
}

.footerContent {
    padding: 20px;
    gap: 40px;
    display: flex;
    flex-flow: wrap column;
}

.footerBlocks {
    gap: 40px;
    display: flex;
}

.foot {
    font-size: 10px;
}