body {
    background-color: #FFFFFF;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

img {
    width: 100%
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1;
}

h1 {
    font-family: "Inria Serif", sans-serif;
    font-size: 40px;

}

h2 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 10px;
    min-height: 195px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

h4 {
    font-family: "Inria Serif", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

h5 {
    color: #404040;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}

h6 {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
}

p {
    color: #505050;
    font-family: "Inria Serif", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 5px;
}

p.category {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}

p.author {
    color: #404040;
    font-family: "Inria Serif", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.time {
    color: #808080;
    font-family: "Inria serif", sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
}

/* flash-messages */
.flash-message {
    background-color: #F5F5F5;
    height: 100px;
}

/* header */
.header {
    background-color: #C94242;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px -2px 1px,
        rgba(0, 0, 0, 0.05) 0px -4px 2px,
        rgba(0, 0, 0, 0.05) 0px -8px 4px,
        rgba(0, 0, 0, 0.05) 0px -16px 8px,
        rgba(0, 0, 0, 0.05) 0px -32px 16px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.header h1 {
    font-size: 60px;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 20px;
    padding-top: 6px;
}

.button {
    background-image: url(../button/button.png);
    width: 54px;
    height: 193px;
    position: fixed;
    right: 0;
}

/* navbar */
.navbar {
    gap: 20px;
    display: flex;
}

/* title Styles */

.greyLine {
    background-color: #F5F5F5;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.title {
    background-color: #F5F5F5;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

/* width-10 mainStory */

.mainStory {
    height: fit-content;
}

.mainStory a {
    gap: 20px;
    display: flex;
}

.mainStory .content {
    flex: 1;
}

.mainStory .pic {
    flex: 1.52;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mainStory .textHolder {
    height: 100%;
}

.mainStory .text {
    border-top: 1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 6px;
}

h6.author {
    display: flex;
    justify-content: flex-end;
}

/* redLine Style */

.redLine {
    background-color: #C94242;
    height: 17px;
    width: 100px;
    margin-bottom: 10px;
}

/* trendingComp */

.trending .story {
    border-top: 1px solid #F5F5F5;
    padding: 10px 0px;
}

.trending .category {
    color: #C94242;
    gap: 4px;
    margin-bottom: 5px;
    display: flex;
}

.trending h6.author {
    color: #808080;
}

/* width-4 newsComp */

.newsComp img {
    height: 200px;
    margin-bottom: 10px;
}

.newsComp .textHolder {
    margin-top: 5px;
}

.newsComp .text {
    border-top: 1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 6px;
}

/* personalFinance */

.personalFinance .trending .story {
    gap: 10px;
    min-height: 93px;
    display: flex;
}

.personalFinance .pic {
    flex: 1;
}

.personalFinance .textHolder {
    flex: 4;
}

/* footer */
.footer {
    background-color: #C94242;
}